
.mailList {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10px;
}

.mailDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px;
    padding: 1px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}